[submodule "packages/sdk"]
	path = packages/sdk
	url = https://github.com/nowly-presence/sdk.git
	branch = stable
[submodule "packages/presences"]
	path = packages/presences
	url = https://github.com/nowly-presence/presences.git
	branch = stable
